<h2 class="page-header">New Movie</h2>
<form action="/movies" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn" href="/movies"><span>Cancel</span></a>
    <button class="btn" type="submit">
      <span>Create</span>
    </button>
  </div>
</form>
